---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Emmanuelle Giffard" description="Parcours Emmanuelle Giffard">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
			>
				<!-- <img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Parcours professionnel</h2>
				<div class="content">
					<p>
						Enthousiaste et déterminée, je suis développeur web junior et passionnée par la résolution de problèmes complexes. Formée de manière intensive, j'ai acquis des compétences solides en programmation et conception web. Forte d'une carrière antérieure de dix ans en architecture, j'ai orienté ma passion pour la conception vers le monde du développement web.
					</p>
					<p>
            Je suis actuellement à la recherche d'opportunités pour ma première expérience professionnelle. Je suis convaincue que ma polyvalence et ma capacité à m'adapter rapidement pourraient être un atout significatif au sein de votre équipe. Actuellement en pleine reconversion après avoir exercé en tant qu’architecte, J’ai développé un ensemble de compétences transférables, je suis particulièrement autonome et sais travailler en équipe.
          </p>
					<p>
            Au cours de ma carrière d'architecte en bâtiment, j'ai trouvé une immense satisfaction à exprimer ma créativité et à résoudre de problèmes divers et variés. Toutefois, ressentant le besoin d'un nouveau défi, j'ai choisi de m'orienter vers le développement web, un domaine qui m'a toujours fasciné et qui offre des perspectives d'apprentissage constant.
            Le passage de l'architecture au développement web représente pour moi un parcours remarquable de découverte de soi et de croissance professionnelle. Cette transition me permet de fusionner ma passion pour le design et la technologie, élargissant mes horizons du monde physique aux possibilités infinies du numérique.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Récemment certifiée Concepteur - développeur d'applications web suite au bootcamp du Wagon Paris, je suis désormais prête à relever de nouveaux défis.
            Ma formation m'a permis d'acquérir des compétences approfondies, notamment avec Ruby on Rails, tout en restant ouverte à l'apprentissage de nouveaux langages tels que PHP ou Python.
            Passionnée par le développement web, j'ai acquis une solide compréhension des concepts clés, des compétences en résolution de problèmes, et une expérience pratique en gestion de projets informatiques.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
          <p>Langages de programmation</p>
            <ul>
              <li>Ruby on Rails</li>
              <li>JavaScript</li>
              <li>Stimulus</li>
              <li>CSS / SCSS</li>
              <li>PostgreSQL</li>
            </ul>
            <br>
            <p>Outils de développement</p>
          <ul>
            <li>Visual Studio Code</li>
            <li>Git (GitHub)</li>
            <li>Figma</li>
            <li>Trello / Notion</li>
            <li>Utilisation d'API RESTful</li>
            <li>Création de schéma de base de donnée</li>
            <li>Scalingo / Cloudinary</li>
          </ul>
          <br>
          <p>Atouts</p>
          <ul>
            <li>Auto apprentissage</li>
            <li>Autonomie</li>
            <li>Volonté d'apprentissage</li>
            <li>Esprit d'équipe</li>
            <li>User stories</li>
            <li>Esprit analytique</li>
            <li>Capacité à transmettre</li>
            <li>Gestion de projet</li>
            <li>Travail en équipe</li>
            <li>Capacité à communiquer efficacement avec l'équipe de projet et les intervenants extérieurs</li>
            <li>Rigueur</li>
            <li>Sens de l’organisation</li>
          </ul>


				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
