<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>


  <p id="presentation" ></p>


<!-- Load library from the CDN -->
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

<!-- Setup and start animation! -->
<script>
  var typed = new Typed('#presentation', {
    strings: ['Hey bienvenue sur mon portfolio !!! ', 'Je suis développeuse fullstack en recherche de nouvelles opportunités'],
    typeSpeed: 50,
    showCursor: false,

  });
</script>
</body>

<style>
#presentation {
  height: 4em;
}
</style>
